.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__vvepW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #93896a;
  min-width: 0;
  padding: 0px;
}
.text___4S5VI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
  display: block;
}
.freeBox__ndWuT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 15px 0px;
}
.freeBox__afA0B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 130px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__afA0B {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
  }
}
.link___2Elr {
  position: relative;
  display: flex;
}
.link__o8P9W {
  position: relative;
  display: flex;
}
.img___0YDst {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img___0YDst > picture > img {
  object-fit: contain;
}
.img___0YDst > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.logo2 {
  object-fit: contain;
  max-width: 100%;
  max-height: 50px;
  width: 125px;
  margin-right: 30px;
  flex-shrink: 0;
}
.logo2 > picture > img {
  object-fit: contain;
}
.logo2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo2 {
    margin-right: 100px;
    margin-left: 100px;
  }
}
.link__hCqqH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hCqqH {
    display: none;
  }
}
.link__xo37L {
  position: relative;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__xo37L {
    display: none;
  }
}
.link__cIhf7 {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cIhf7 {
    display: none;
  }
}
.link__rdhst {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__rdhst {
    display: none;
  }
}
.link__ozKVg {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__ozKVg {
    display: none;
  }
}
.link__klt1 {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 300px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__klt1 {
    display: none;
  }
}
.link__vXOsI {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vXOsI {
    display: none;
  }
}
.link__aw4Dr {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__aw4Dr {
    display: none;
  }
}
.link__goKGa {
  position: relative;
  height: auto;
  color: #93896a;
  font-size: 12px;
  margin-right: 5px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__goKGa {
    display: none;
  }
}
.link__kfq3O {
  position: relative;
  display: flex;
}
.img__ad7Dr {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  flex-shrink: 0;
}
.img__ad7Dr > picture > img {
  object-fit: contain;
}
.img__ad7Dr > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__w04V2 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
  padding: 15px 0px;
}
.link__aBhGk {
  position: relative;
  display: none;
}
.logo {
  object-fit: cover;
  max-width: 100%;
  max-height: 50px;
}
.logo > picture > img {
  object-fit: cover;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___3ASrf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 19px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3ASrf {
    margin-bottom: 0px;
  }
}
.hiconsH1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 37px;
  font-weight: 300;
  color: #93896a;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsH1 {
    font-size: 25px;
  }
}
.freeBox__dLrn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dLrn {
    width: 392px;
  }
}
.freeBox__rpCe3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rpCe3 {
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.hiconsIcon1 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon1 > picture > img {
  object-fit: contain;
}
.hiconsIcon1 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel1 {
    font-size: 16px;
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.freeBox__tZeQt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tZeQt {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon2 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon2 > picture > img {
  object-fit: contain;
}
.hiconsIcon2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel2 {
    font-size: 16px;
  }
}
.freeBox___8F6Ga {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8F6Ga {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon3 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon3 > picture > img {
  object-fit: contain;
}
.hiconsIcon3 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon4 {
    font-size: 16px;
  }
}
.freeBox__fceGe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.hiconsIcon5 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon5 > picture > img {
  object-fit: contain;
}
.hiconsIcon5 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  color: #93896a;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon6 {
    font-size: 16px;
  }
}
.offer {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .offer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 10px;
  }
}
.offer1:global(.__wab_instance) {
  position: relative;
}
.link___16Wi {
  position: relative;
  margin-right: 0;
  display: flex;
}
.offerImage {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 423px;
}
.offerImage > picture > img {
  object-fit: contain;
}
.offerImage > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.offerVariant1Url {
  position: relative;
  display: flex;
}
.offerVariant1Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant1Image > picture > img {
  object-fit: cover;
}
.offerVariant1Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant1Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerVariant2Url {
  position: relative;
  display: flex;
}
.offerVariant2Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant2Image > picture > img {
  object-fit: cover;
}
.offerVariant2Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant2Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerH2 {
  padding-right: 0px;
}
.offerParagraph {
  padding-left: 0px;
}
.products {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px 110px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .products {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
  }
}
.columns__bo4Cx {
  --plsmc-rc-col-gap: 0px;
}
.columns__bo4Cx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__bo4Cx > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bo4Cx > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bo4Cx > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bo4Cx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bo4Cx > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lvOq6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lvOq6 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1___4GLzc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__z07Lt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__z07Lt > picture > img {
  object-fit: cover;
}
.img__z07Lt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__kHddC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__kHddC > picture > img {
  object-fit: cover;
}
.img__kHddC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__gphGa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__gphGa > picture > img {
  object-fit: cover;
}
.img__gphGa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__ftvIt:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text___0AP1W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__zjkEs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zjkEs {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__xgjp3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__dzb47 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__dzb47 > picture > img {
  object-fit: cover;
}
.img__dzb47 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__nRbIo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__nRbIo > picture > img {
  object-fit: cover;
}
.img__nRbIo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__nAaFm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__nAaFm > picture > img {
  object-fit: cover;
}
.img__nAaFm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__pbCn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__qWCtK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__mElAx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mElAx {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__pUxIp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__eDoiv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__eDoiv > picture > img {
  object-fit: cover;
}
.img__eDoiv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__bohMx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__bohMx > picture > img {
  object-fit: cover;
}
.img__bohMx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__rYaNp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__rYaNp > picture > img {
  object-fit: cover;
}
.img__rYaNp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__qCViA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text___845Zl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.columns__jw1Xg {
  --plsmc-rc-col-gap: 0px;
}
.columns__jw1Xg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__jw1Xg > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__jw1Xg > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__jw1Xg > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jw1Xg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jw1Xg > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cvSi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cvSi {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1___9SpMc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__lShAg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__lShAg > picture > img {
  object-fit: cover;
}
.img__lShAg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__r5L2Q {
  padding-right: 0px;
}
.text__zan1T {
  padding-right: 0px;
}
.img__bQnFa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__bQnFa > picture > img {
  object-fit: cover;
}
.img__bQnFa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___0XyBw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___0XyBw > picture > img {
  object-fit: cover;
}
.img___0XyBw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__icl0B:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__gkSk3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__ySx5O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ySx5O {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__gceL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__y5Ze {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__y5Ze > picture > img {
  object-fit: cover;
}
.img__y5Ze > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__nUfF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__nUfF > picture > img {
  object-fit: cover;
}
.img__nUfF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__eyhF8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__eyhF8 > picture > img {
  object-fit: cover;
}
.img__eyhF8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta___9N9Tw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__rel1K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__s2Eez {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__s2Eez {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1___7AoGo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__sAoUb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__sAoUb > picture > img {
  object-fit: cover;
}
.img__sAoUb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ejfxk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__ejfxk > picture > img {
  object-fit: cover;
}
.img__ejfxk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__dgMr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__dgMr > picture > img {
  object-fit: cover;
}
.img__dgMr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__wE2G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text___4CIci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.squeezeForm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.collection12:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.cwAdvert2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
