.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__qBtBb {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #93896a;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__pnaSw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
.freeBox__oXe4 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
  padding: 15px 0px;
}
.freeBox__sv4Sv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 130px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sv4Sv {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
  }
}
.link__rz2Kc {
  position: relative;
  display: flex;
}
.link__d17Ro {
  position: relative;
  display: flex;
}
.img__gXhGk {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__gXhGk > picture > img {
  object-fit: contain;
}
.img__gXhGk > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.logo2 {
  object-fit: contain;
  max-width: 100%;
  max-height: 50px;
  width: 125px;
  margin-right: 30px;
  flex-shrink: 0;
}
.logo2 > picture > img {
  object-fit: contain;
}
.logo2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo2 {
    margin-right: 100px;
    margin-left: 100px;
  }
}
.link__r9H7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__r9H7 {
    display: none;
  }
}
.link___36RhN {
  position: relative;
  height: auto;
  max-width: 800px;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___36RhN {
    display: none;
  }
}
.link___3Bwh {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___3Bwh {
    display: none;
  }
}
.link__b6Qj {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__b6Qj {
    display: none;
  }
}
.link__lXsNv {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lXsNv {
    display: none;
  }
}
.link___0XGOk {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 300px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___0XGOk {
    display: none;
  }
}
.link__iR48S {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__iR48S {
    display: none;
  }
}
.link___2KUma {
  position: relative;
  height: auto;
  color: #252525;
  font-size: 12px;
  margin-right: 30px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___2KUma {
    display: none;
  }
}
.link__zqHV {
  position: relative;
  height: auto;
  color: #93896a;
  font-size: 12px;
  margin-right: 5px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zqHV {
    display: none;
  }
}
.link__y2FtY {
  position: relative;
  display: flex;
}
.img__uhhJx {
  object-fit: contain;
  max-width: 100%;
  width: 13px;
  flex-shrink: 0;
}
.img__uhhJx > picture > img {
  object-fit: contain;
}
.img__uhhJx > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.freeBox__fjWzO {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
  padding: 15px 0px;
}
.link__qmlmN {
  position: relative;
  display: flex;
}
.logo {
  object-fit: cover;
  max-width: 100%;
  max-height: 50px;
}
.logo > picture > img {
  object-fit: cover;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__eu8S6 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 19px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eu8S6 {
    margin-bottom: 0px;
  }
}
.hiconsH1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 37px;
  font-weight: 300;
  color: #93896a;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsH1 {
    font-size: 25px;
  }
}
.freeBox__pIu9S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pIu9S {
    width: 392px;
  }
}
.freeBox__dzaDh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dzaDh {
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.hiconsIcon1 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon1 > picture > img {
  object-fit: contain;
}
.hiconsIcon1 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon1 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel1 {
    font-size: 16px;
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.freeBox__fpjt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fpjt {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon2 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon2 > picture > img {
  object-fit: contain;
}
.hiconsIcon2 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon2 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsLabel2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsLabel2 {
    font-size: 16px;
  }
}
.freeBox__pvKe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 40px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pvKe {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 20px;
  }
}
.hiconsIcon3 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon3 > picture > img {
  object-fit: contain;
}
.hiconsIcon3 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon3 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #93896a;
  font-weight: 300;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon4 {
    font-size: 16px;
  }
}
.freeBox__kt3Vh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.hiconsIcon5 {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.hiconsIcon5 > picture > img {
  object-fit: contain;
}
.hiconsIcon5 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon5 > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.hiconsIcon6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  color: #93896a;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hiconsIcon6 {
    font-size: 16px;
  }
}
.offer {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .offer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 10px;
  }
}
.offer1:global(.__wab_instance) {
  position: relative;
}
.link__bkFxp {
  position: relative;
  margin-right: 0;
  display: flex;
}
.offerImage {
  object-fit: contain;
  max-width: 100%;
  width: auto;
  height: 423px;
}
.offerImage > picture > img {
  object-fit: contain;
}
.offerImage > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.offerVariant1Url {
  position: relative;
  display: flex;
}
.offerVariant1Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant1Image > picture > img {
  object-fit: cover;
}
.offerVariant1Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant1Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerVariant2Url {
  position: relative;
  display: flex;
}
.offerVariant2Image {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.offerVariant2Image > picture > img {
  object-fit: cover;
}
.offerVariant2Image > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.offerVariant2Label {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  min-width: 0;
}
.offerH2 {
  padding-right: 0px;
}
.offerParagraph {
  padding-left: 0px;
}
.products {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px 110px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .products {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
  }
}
.columns__chP1 {
  --plsmc-rc-col-gap: 0px;
}
.columns__chP1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__chP1 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__chP1 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__chP1 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__chP1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__chP1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__x6OS2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__x6OS2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__xxurx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___9LTsm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img___9LTsm > picture > img {
  object-fit: cover;
}
.img___9LTsm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__m8Kk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__m8Kk > picture > img {
  object-fit: cover;
}
.img__m8Kk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__qunzg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__qunzg > picture > img {
  object-fit: cover;
}
.img__qunzg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__tw006:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__glejq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__lwCs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lwCs {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__nq5R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__qdusM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__qdusM > picture > img {
  object-fit: cover;
}
.img__qdusM > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___2ITeQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___2ITeQ > picture > img {
  object-fit: cover;
}
.img___2ITeQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ijQxq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__ijQxq > picture > img {
  object-fit: cover;
}
.img__ijQxq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta___11Zgq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__lThmR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__jlHju {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jlHju {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__rJeza:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__y93EY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__y93EY > picture > img {
  object-fit: cover;
}
.img__y93EY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__w9Brf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__w9Brf > picture > img {
  object-fit: cover;
}
.img__w9Brf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___4WrrZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___4WrrZ > picture > img {
  object-fit: cover;
}
.img___4WrrZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__yxy5B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__hWl6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.columns__goe4I {
  --plsmc-rc-col-gap: 0px;
}
.columns__goe4I {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__goe4I > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__goe4I > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__goe4I > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__goe4I {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__goe4I > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ryxjK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ryxjK {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__ijqqI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__oi41 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__oi41 > picture > img {
  object-fit: cover;
}
.img__oi41 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__guZZi {
  padding-right: 0px;
}
.text__d2D0V {
  padding-right: 0px;
}
.img___12Bq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img___12Bq > picture > img {
  object-fit: cover;
}
.img___12Bq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__jWFor {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__jWFor > picture > img {
  object-fit: cover;
}
.img__jWFor > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__vseC8:global(.__wab_instance) {
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__dkTw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__lqLkb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lqLkb {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.collection1__zxGal:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__k5838 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__k5838 > picture > img {
  object-fit: cover;
}
.img__k5838 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__eBoaj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__eBoaj > picture > img {
  object-fit: cover;
}
.img__eBoaj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__iiwPr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__iiwPr > picture > img {
  object-fit: cover;
}
.img__iiwPr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta___1GTD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text___0WZma {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.column__eL4Jj {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eL4Jj {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.collection1__crtzb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__zVbKo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 387px;
  height: 441px;
  margin-bottom: 0;
}
.img__zVbKo > picture > img {
  object-fit: cover;
}
.img__zVbKo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__wCp46 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__wCp46 > picture > img {
  object-fit: cover;
}
.img__wCp46 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ixWql {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
}
.img__ixWql > picture > img {
  object-fit: cover;
}
.img__ixWql > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.collection1Cta__scxgO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
  flex-shrink: 0;
}
.text__k6M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  min-width: 0;
}
.squeezeForm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.collection12:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.cwAdvert2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
